<section id="footer">
  <div class="container">
    <div class="copy__rights">
      Copyright © 2021 Prime Mart. All Rights Reserved. | <a [routerLink]="['/cookies']" target="_blank">Cookies</a> | Copyright | Terms
      of Use
    </div>

    <div class="social">
      <div class="story">
        <hr><span>Follow us</span>
      </div>
      <a href="https://www.facebook.com/primemart.since2021" target="_blank"><i
          class="fa__social fab fa-facebook-f"></i></a>

      <!-- <span class="dot"><i class="fas fa-circle"></i></span>
      <i class="fa__social fab fa-linkedin-in"></i> -->
      <span class="dot"><i class="fas fa-circle"></i></span>
      <a href="https://www.instagram.com/primemart.since2021" target="_blank"> <i
          class="fa__social fab fa-instagram"></i></a>

    </div>
  </div>
</section>
