<section id="footer">
  <div class="container">
    <div class="copy__rights">
      CopyRights © All reserved by Prime Mart
    </div>

    <div class="social">
      <div class="story">
        <hr><span>Follow us</span>
      </div>
      <i class="fa__social fab fa-facebook-f"></i>
      <span class="dot"><i class="fas fa-circle"></i></span>
      <i class="fa__social fab fa-linkedin-in"></i>
      <span class="dot"><i class="fas fa-circle"></i></span>
      <i class="fa__social fab fa-instagram"></i>
    </div>
  </div>
</section>


<!-- [ngClass]="{'logoEN': lang === 'en', 'logoAR' : lang === 'ar' }" -->
