<div id="nav" [ngClass]="{'en': lang === 'en', 'ar' : lang === 'ar' }">
  <ul>
    <li><a (click)="scrollToElement('about')">About us</a></li>
    <li><a (click)="scrollToElement('categories')">Categories</a></li>
    <li><a (click)="scrollToElement('variety__products')">Our Varities</a></li>
  </ul>
  <div class="actions">
    <a (click)="scrollToElement('contact')"><i class="fas fa-envelope-square"></i>Contact Us</a>
    <span class="seperator">|</span>
    <div class="dropdown">
      <span class="dropbtn">
        <!-- <i class="fas fa-globe"></i> -->
        <img src="../../../assets//images/language.svg" alt="">
        <img src="../../../assets//images/lang__arrow.svg" alt="">
        <!-- <i class="fas fa-chevron-down"></i> -->
      </span>
      <div class="dropdown-content">
        <a (click)="setLanguage('ar')">عربى</a>
        <a (click)="setLanguage('en')">English</a>
      </div>
    </div>

  </div>
</div>
