<section id="categories" class="hide-on-tablet-lg">
  <div class="container">

    <div class="header">
      <div class="story">
        <hr><span>Find what you’re looking for</span>
      </div>
      <h2>Shop from the widest range of products.</h2>
    </div>
    <div class="cards">
      <div class="card card_1">
        <div class="inner_card">

        </div>
        <div class="desc">
          <div class="arrow" (click)="incrementFarms()">
            <span><i class="fas fa-chevron-up"></i></span>
          </div>
          <p (click)="incrementFarms()">{{arrFarms[prevIndexFarms]}}</p>
          <h4>{{arrFarms[arrFarmsActive]}}</h4>
          <p (click)="decrementFarms()">{{arrFarms[nextIndexFarms]}}</p>
          <div class="arrow" (click)="decrementFarms()">
            <span><i class="fas fa-chevron-down"></i></span>
          </div>
        </div>
      </div>
      <div class="card card_2">
        <div class="inner_card">

        </div>
        <div class="desc">
          <div class="arrow" (click)="incrementDelights()">
            <span><i class="fas fa-chevron-up"></i></span>
          </div>
          <p (click)="incrementDelights()">{{arrDelights[prevIndexDelights]}}</p>
          <h4>{{arrDelights[arrDelightsActive]}}</h4>
          <p (click)="decrementDelights()">{{arrDelights[nextIndexDelights]}}</p>
          <div class="arrow" (click)="decrementDelights()">
            <span><i class="fas fa-chevron-down"></i></span>
          </div>
        </div>
      </div>
      <div class="card card_3">
        <div class="inner_card">

        </div>
        <div class="desc">
          <div class="arrow" (click)="incrementButchers()">
            <span><i class="fas fa-chevron-up"></i></span>
          </div>
          <p (click)="incrementButchers()">{{arrButchers[prevIndexButchers]}}</p>
          <h4>{{arrButchers[arrButchersActive]}}</h4>
          <p (click)="decrementButchers()">{{arrButchers[nextIndexButchers]}}</p>
          <div class="arrow" (click)="decrementButchers()">
            <span><i class="fas fa-chevron-down"></i></span>
          </div>
        </div>
      </div>
      <div class="card card_4">
        <div class="inner_card">

        </div>
        <div class="desc">
          <div class="arrow" (click)="incrementSeaFood()">
            <span><i class="fas fa-chevron-up"></i></span>
          </div>
          <p (click)="incrementSeaFood()">{{arrSeaFood[nextIndexSeaFood]}}</p>
          <h4>{{arrSeaFood[arrSeaFoodActive]}}</h4>
          <p (click)="decrementSeaFood()">{{arrSeaFood[nextIndexSeaFood]}}</p>
          <div class="arrow" (click)="decrementSeaFood()">
            <span><i class="fas fa-chevron-down"></i></span>
          </div>
        </div>
      </div>
      <div class="card card_5">
        <div class="inner_card">

        </div>
        <div class="desc">
          <div class="arrow" (click)="incrementGrater()">
            <span><i class="fas fa-chevron-up"></i></span>
          </div>
          <p (click)="incrementGrater()">{{arrGrater[prevIndexGrater]}}</p>
          <h4>{{arrGrater[arrGraterActive]}}</h4>
          <p (click)="decrementGrater()">{{arrGrater[nextIndexGrater]}}</p>
          <div class="arrow" (click)="decrementGrater()">
            <span><i class="fas fa-chevron-down"></i></span>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section id="categories__m" class="tablet-lg-only">
  <div class="cat__swiper">
    <div class="header">
      <div class="story">
        <hr><span>Find what you’re looking for</span>
      </div>
      <h2>Shop from the widest range of products.</h2>
    </div>
    <swiper dir="ltr" [slidesPerView]="'auto'" [loop]="false" [spaceBetween]="30" class="mySwiper">
      <ng-template swiperSlide>
        <div class="card card_1">
          <div class="inner_card">

          </div>
          <div class="desc">
            <div class="arrow" (click)="incrementFarms()">
              <span><i class="fas fa-chevron-up"></i></span>
            </div>
            <p (click)="incrementFarms()">{{arrFarms[prevIndexFarms]}}</p>
            <h4>{{arrFarms[arrFarmsActive]}}</h4>
            <p (click)="decrementFarms()">{{arrFarms[nextIndexFarms]}}</p>
            <div class="arrow" (click)="decrementFarms()">
              <span><i class="fas fa-chevron-down"></i></span>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="card card_2">
          <div class="inner_card">

          </div>
          <div class="desc">
            <div class="arrow" (click)="incrementDelights()">
              <span><i class="fas fa-chevron-up"></i></span>
            </div>
            <p (click)="incrementDelights()">{{arrDelights[prevIndexDelights]}}</p>
            <h4>{{arrDelights[arrDelightsActive]}}</h4>
            <p (click)="decrementDelights()">{{arrDelights[nextIndexDelights]}}</p>
            <div class="arrow" (click)="decrementDelights()">
              <span><i class="fas fa-chevron-down"></i></span>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="card card_3">
          <div class="inner_card">

          </div>
          <div class="desc">
            <div class="arrow" (click)="incrementButchers()">
              <span><i class="fas fa-chevron-up"></i></span>
            </div>
            <p (click)="incrementButchers()">{{arrButchers[prevIndexButchers]}}</p>
            <h4>{{arrButchers[arrButchersActive]}}</h4>
            <p (click)="decrementButchers()">{{arrButchers[nextIndexButchers]}}</p>
            <div class="arrow" (click)="decrementButchers()">
              <span><i class="fas fa-chevron-down"></i></span>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="card card_4">
          <div class="inner_card">

          </div>
          <div class="desc">
            <div class="arrow" (click)="incrementSeaFood()">
              <span><i class="fas fa-chevron-up"></i></span>
            </div>
            <p (click)="incrementSeaFood()">{{arrSeaFood[nextIndexSeaFood]}}</p>
            <h4>{{arrSeaFood[arrSeaFoodActive]}}</h4>
            <p (click)="decrementSeaFood()">{{arrSeaFood[nextIndexSeaFood]}}</p>
            <div class="arrow" (click)="decrementSeaFood()">
              <span><i class="fas fa-chevron-down"></i></span>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="card card_5">
          <div class="inner_card">

          </div>
          <div class="desc">
            <div class="arrow" (click)="incrementGrater()">
              <span><i class="fas fa-chevron-up"></i></span>
            </div>
            <p (click)="incrementGrater()">{{arrGrater[prevIndexGrater]}}</p>
            <h4>{{arrGrater[arrGraterActive]}}</h4>
            <p (click)="decrementGrater()">{{arrGrater[nextIndexGrater]}}</p>
            <div class="arrow" (click)="decrementGrater()">
              <span><i class="fas fa-chevron-down"></i></span>
            </div>
          </div>
        </div>
      </ng-template>
    </swiper>
  </div>
</section>
