<section id="categories" class="hide-on-tablet-lg">
  <div class="container">

    <div class="header">
      <div class="story">
        <hr><span>Find what you’re looking for</span>
      </div>
      <h2>Shop from the widest range of products.</h2>
    </div>
    <div class="cards">
      <div class="card card_1">
        <div class="inner_card">

        </div>
        <div class="desc">
          <h4>Fresh</h4>
          <p>Healthy Vegetables</p>
        </div>
      </div>
      <div class="card card_2">
        <div class="inner_card">

        </div>
        <div class="desc">
          <h4>Baked</h4>
          <p>Fresh Daily</p>
        </div>
      </div>
      <div class="card card_3">
        <div class="inner_card">

        </div>
        <div class="desc">
          <h4>Premium</h4>
          <p>Quality Meat</p>
        </div>
      </div>
      <div class="card card_4">
        <div class="inner_card">

        </div>
        <div class="desc">
          <h4>Daily</h4>
          <p>Fresh Seafood</p>
        </div>
      </div>
      <div class="card card_5">
        <div class="inner_card">

        </div>
        <div class="desc">
          <h4>All-Natural</h4>
          <p>Fresh Cheese</p>
        </div>
      </div>
    </div>

  </div>
</section>

<section id="categories__m" class="tablet-lg-only">
  <div class="cat__swiper">
    <div class="header">
      <div class="story">
        <hr><span>Find what you’re looking for</span>
      </div>
      <h2>Shop from the widest range of products.</h2>
    </div>
    <swiper dir="ltr" [slidesPerView]="'auto'" [loop]="false" [spaceBetween]="30" class="mySwiper">
      <ng-template swiperSlide>
        <div class="card card_1">
          <div class="inner_card">

          </div>
          <div class="desc">
            <h4>Fresh</h4>
            <p>Healthy Vegetables</p>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="card card_2">
          <div class="inner_card">

          </div>
          <div class="desc">
            <h4>Baked</h4>
            <p>Fresh Daily</p>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="card card_3">
          <div class="inner_card">

          </div>
          <div class="desc">
            <h4>Premium</h4>
            <p>Quality Meat</p>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="card card_4">
          <div class="inner_card">

          </div>
          <div class="desc">
            <h4>Daily</h4>
            <p>Fresh Seafood</p>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="card card_5">
          <div class="inner_card">

          </div>
          <div class="desc">
            <h4>All-Natural</h4>
            <p>Fresh Cheese</p>
          </div>
        </div>
      </ng-template>
    </swiper>
  </div>
</section>
