<div class="count-down">

  <div class="step">
    <div class="num">
      {{daysToDday}}
    </div>
    <div class="str">
      DAYS
    </div>
  </div>
  <div class="colun">:</div>
  <div class="step">
    <div class="num">
      {{hoursToDday}}
    </div>
    <div class="str">
      HOURS
    </div>
  </div>
  <div class="colun">:</div>
  <div class="step">
    <div class="num">
      {{minutesToDday}}
    </div>
    <div class="str">
      MINUTES
    </div>
  </div>
  <div class="colun">:</div>
  <div class="step">
    <div class="num">
      {{secondsToDday}}
    </div>
    <div class="str">
      SECONDS
    </div>
  </div>
</div>
