@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~swiper/swiper";
@import "~swiper/components/navigation/navigation";
@import "~swiper/components/pagination/pagination";
@import "./theme/mixins";

* {
  font-family: $defaultFamily;
}

.mobile-only {
  display: none;

  @media (max-width: $breakpointSm) {
    display: initial;
  }
}

.hide-on-mobile {
  @media (max-width: $breakpointSm) {
    display: none !important;
  }
}

.tablet-only {
  display: none;

  @media (max-width: $breakpointMd) {
    display: initial;
  }
}

.hide-on-tablet {
  @media (max-width: $breakpointMd) {
    display: none !important;
  }
}

.tablet-lg-only {
  display: none;

  @media (max-width: $breakpointTabletLg) {
    display: initial;
  }
}

.hide-on-tablet-lg {
  @media (max-width: $breakpointTabletLg) {
    display: none !important;
  }
}


.px-mobile-0 {
  @include mobile {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}



html,
body {
  // height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;


  height: 100%; //TODO: reuse
  // height: 2000px;
}

.container {
  width: 90%;
  margin: auto !important;
}

section {
  margin-bottom: 80px;

  // &:last-child {  //TODO:check after finish
  //   margin-bottom: 0px;
  // }
}
