<div class="container">
  <h1>PRIVACY / COOKIES (July 1, 2021)</h1>

  <p>This Policy is intended to describe the management of this site by Prime Mart, concerning the processing of
    personal
    data of users / visitors who consult.</p>

  <p>Prime Mart, in line with the regulations for privacy protection adopted in the country, is to ensure the privacy
    and
    security of personal data of each visitor, even on the Internet is accessed from abroad, in line with the provisions
    in
    Code of Conduct of the Prime Mart.</p>

  <p>The Policy is also provided as information, unless there is an ad hoc reported in full, to those who interact with
    the
    web site, to the protection of personal data, accessible electronically.
  </p>

  <p>This information aims at defining the limits and methods of data processing of each service whereby then, the
    customer /
    visitor may freely provide consent and authorize collection of data and its subsequent use.</p>

  <p>It is recalled that the information is not provided to other websites accessed via links.</p>

  <h3>HOLDER AND MANAGER IN CHARGE OF TREATMENT</h3>
  <p>The owner of the data is Prime Mart in the person of the interim manager of the Information and Communication
    Technology
    Department of Prime Mart. Personal data may be processed by a processor, including external, responsible for the
    management of the Service requested and / from Head / of treatment.</p>

  <h3>TYPES OF DATA AND PURPOSE OF TREATMENT</h3>
  <p>This website offers informative and interactive content. While browsing the website, you can then capture customer
    information, or more generally about the visitor, in the following ways:</p>

  <div class="container">
    <h4>NAVIGATION DATA.</h4>
    <p> The computer systems and software procedures used to operate this website acquire,
      during their normal
      operation, some personal data whose transmission is implicit in the communication protocols of the Internet. This
      information is not collected to be associated with identity, but by their very nature could, through processing
      and
      association with data held by third parties, to identify users. This category of data includes IP addresses,
      browser
      type, operating system, domain name and website addresses from which you are logged or output, information on
      pages
      visited by users within the site, time of access, time spent on each page, internal route analysis and other
      parameters
      regarding the operating system and computer environment. This technical data / information is collected and used
      in
      an
      aggregated and anonymous form for the sole purpose of:</p>
    <ol>
      <li>improve service quality and enhance the functionality of the site</li>
      <li>understand the user behavior in order to improve online communications</li>
      <li>organize statistical information concerning the use of the site.</li>
    </ol>

    <h4>GEOLOCATION DATA</h4>
    <p>Upon prior consent of the user, the web site may process location data - in a non-continuous - for the provision
      of
      the
      services requested by the user.</p>

    <h4>DATA PROVIDED VOLUNTARILY BY THE CUSTOMER / VISITOR</h4>
    <p>These are cases where the customer / visitor to release on the site after reading detailed information, personal
      information for access to selected services. "Opt-In" and "Opt-Out": in all cases, before you subscribe to a
      particular
      service will be provided adequate information and where necessary, acquired its consent to the processing of
      personal
      data. This consent may be revoked at any time, whereby the ability to use the service in question. Specific
      information
      will be progressively reported or displayed on web pages dedicated to particular services on request.</p>

    <h4>DATA FROM MINORS</h4>
    <p>Prime Mart does not allow the transfer of personal information from children under 18.
    </p>

    <h4>METHODS OF TREATMENT
    </h4>
    <p>The treatment is done through automated means (eg. Using electronic procedures) and / or manually (eg. On paper)
      for
      the
      time strictly necessary to achieve the purposes for which the data was collected and in compliance with
      regulations
      in
      force.</p>
  </div>


  <h3>TECHNOLOGIES</h3>
  <p>Cookies. We do not use cookies for the transmission of personal information. The use of session cookies (which are
    not
    stored permanently on the user's computer and disappear when the browser is closed) is strictly limited to
    transmitting
    session identifiers required to enable a safe and efficient site. Session cookies used on this site avoid the use of
    other technologies that could compromise the privacy of the users and not allow the acquisition of personal
    identification data. In this site it is likewise used persistent cookies, ie cookies that are stored on your
    computer
    hard drive until they expire or cancellation by users / visitors. Deleting cookies does not preclude the use of the
    sites and / or applications mentioned above. Through persistent cookies users / visitors who access the site (or any
    other users who use the same computer) are automatically recognized at every visit. The users / visitors can set the
    computer's browser so that accept / reject all cookies or to alert whenever a cookie is offered, in order to assess
    whether or not to accept.</p>

  <p>JavaScript. A technique used as an alternative to direct analysis of web server log files. It is to collect and
    process
    data of navigation through the use of dedicated JavaScript code in the HTML pages deemed of interest.</p>


  <h3>EXTERNAL SERVICES</h3>
  <p>Google Analytics. This website uses the external web analysis service provided by Google Analytics that uses
    Javascript
    to help the website analyze how users use the site. The information generated on the use of the website by you
    (including your IP address) will be transmitted to and stored by server Google Analytics. Google Analytics will use
    this
    information for the purpose of evaluating your use of the website, compiling reports on website activity for website
    operators and providing other services relating to site activity and internet usage. Google Analytics may also
    transfer
    this information to third parties unless required by law or where such third parties process the information on
    behalf
    of Google Analytics. Google Analytics do not associate your IP address with any other data held by Google Analytics.
    By
    using this website, you consent to the processing of personal data by Google Analytics for the abovementioned
    purposes
    and procedures.</p>

  <h3>CONNECTING TO THIRD PARTY SITES
  </h3>
  <p>From the site it is possible to link to other websites; that option is marked clearly to indicate to the customer /
    visitor the time of leaving the site of Prime Mart. The customer / visitor is then invited to pay special attention
    to
    the fact that these sites are not the property or responsibility of Prime Mart as fully managed by other companies
    and
    /
    or organizations, for which it is necessary to verify and accept their data privacy policies. Prime Mart
    consequently
    declines any responsibility for requests and / or release of personal data to third party sites.</p>

  <h3>USERS' RIGHTS</h3>
  <p>The subjects whose personal data have the right at any time to obtain confirmation of the existence of such data
    and
    to
    know the content and origin, to check if their accuracy or request its integration or updating, or correction.
    Accordingly, one has the right to request the complete and updated list of all data processors, to request
    cancellation,
    transformation into anonymous form or block of data in violation of law and to oppose in any case, for legitimate
    reasons, to their treatment. To exercise this right and if you have problems or requests for clarification of the
    stated
    here, please write to Prime Mart.</p>

  <h3>CHANGES TO POLICY</h3>
  <p>This Policy governs the methods for processing personal data provided by customers / visitors when navigating the
    site.
    Any entry into force of new regulations for the sector, as well as the examination and updating of customer
    services,
    will make it necessary to change those rules. It is therefore possible that our policy may be modified over time and
    we
    kindly ask customers / visitors to periodically consult this page.</p>
  <ol>
    <li>Cookies or markers are packets of information sent by a web server (eg. The site) to the user's Internet
      browser,
      it
      automatically stored on your computer and automatically sent to the server at each subsequent site access.</li>
    <li>By default, almost all web browsers are set to automatically accept cookies. You can change the default
      configuration, with that browser (such as, eg. Internet Explorer version 6.0) is the average and disable cookies
      (ie
      block a final), by setting, in the card ("Policy"), the protection level higher, but, please note that disabling
      compromise the use of the service. In any case, you also have the ability to delete (or delete) cookies from your
      personal computer, selecting, always from "Internet Options" from the Tools menu, the "General" tab and clicking
      on
      the
      delete button cookies.</li>
  </ol>

</div>
