TERMS OF USE (January 1, 2021)

INTRODUCTION
Please read these Terms of Service ("Terms") carefully before using the "Services." The "Services" means the websites,
mobile applications, software and services controlled, whether partially or otherwise, by Prime Mart.

These Terms include the Privacy Statement, which is incorporated by reference into these Terms. When you access the
Services through software or mobile applications, these Terms also incorporate the End User License Agreement (EULA)
provided with such software or application. Any applicable EULA will supersede these Terms in the event of a conflict.
These Terms also incorporate any additional specific terms and conditions applicable to particular goods and services
you access or purchase through the Services. We have included several annotations in boxes to help explain or identify
key sections. These annotations are for convenience only and have no legal or contractual effect.

This agreement is a legally binding contract. It may change as our business changes, and you agree you will review it
and any updates regularly. Your continued use of the Services means you accept any changes.

Binding Agreement. These Terms constitute a binding agreement between you and Prime Mart and its affiliates,
subsidiaries, brands, vendors, and any others engaged by us to provide services ("Prime Mart,", "we," "us") and govern
your use of the Services. "You" and "users" shall mean all visitors to the Services. You represent and agree that you
are at least 18 years of age and otherwise able to enter into a valid, binding agreement. You accept these Terms each
time you access the Services. If you do not accept these Terms, you must not use the Services.

Revisions to Terms. We may revise these Terms at any time by posting an updated version to this web page. You should
visit this page periodically to review the most current Terms, because you are bound by them. No modifications to these
Terms shall apply to any dispute between you and Prime Mart that arose prior to the date of such modification. Your
continued use of the Services after a change to these Terms constitutes your binding acceptance of these Terms. If you
are dissatisfied with the Services, their content, the Terms or the Privacy Statement, then you agree that your sole and
exclusive remedy is to discontinue your use.

The terms "post" or "posting" as used in these Terms shall mean the act of submitting, uploading, publishing,
displaying, or similar action on the Services.

ELIGIBILITY TO USE THE SERVICES
Children. No part of the Services is directed to persons under the age of 18.

Agent of a Company, Entity, or Organization. If you are using the Services on behalf of a company, entity, or
organization (collectively "Organization"), then you represent and warrant that you:
1. are an authorized representative of that Organization;
2. have the authority to bind that Organization to these Terms; and
3. agree to be bound by these Terms on behalf of that Organization.

SERVICES
The Services provide platforms where you can engage with Prime Mart, participate in our communities, learn about our
services.

We do not charge you to use the Services but may charge for aspects or features of the Services that you may access.

Share Prime Mart Content. You may be able to use the Services to send email or other message with the "Prime Mart
Content. You acknowledge and agree that you will send email only to individuals who have given you their express
permission to be contacted. You agree that you will not send unsolicited marketing messages or broadcasts (i.e., spam)
using the Services.

OTHER SERVICES
The Services may provide access to co-branded, third-party websites and services and other websites or services that
have additional legal terms and conditions (" Other Services"). The Services may enable access to Other Services. Use of
the Other Services may require that you accept additional or different terms of service. Where these Terms conflict with
those terms of service, those terms of service control. You agree to use the Other Services subject to any additional
terms and conditions.

Third-Party Functionality. The Services may allow you to use third-party content and functionality, such as LinkedIn.
You use such content or functionality subject to such third parties' terms and conditions.

Third-Party Websites. The Services may include links to third-party websites and applications. You are responsible for
evaluating whether you want to access or use them. We are not responsible for and do not endorse any features, content,
advertising, products, or other materials on other websites or applications. You assume all risk and we disclaim all
liability arising from your use of them.

OWNERSHIP AND USE
Prime Mart and our licensors own all of the content on the Services, but you may use it while you use the Services. You
cannot use our logo without our written permission. The contents of the Services include designs, text, graphics,
images, video, information, logos, button icons, software, audio files, computer code, components licensed to Prime Mart
by third parties, and another Prime Mart content (collectively, "Prime Mart Content"). All Prime Mart Content and the
compilation (meaning the collection, arrangement, and assembly) of all Prime Mart Content are the property of Prime Mart
or its licensors and are protected under copyright, trademark and other laws.

License to You. We authorize you, subject to these Terms, to access and use the Services and the Prime Mart Content
solely for the personal, non-commercial use of Prime Mart Services, at our discretion. We also grant you a
non-exclusive, non-transferable, non-sub licensable, limited license to install and use any software applications and
upgrades provided by Prime Mart solely for your personal, non-commercial use on devices that you own or control as
permitted by these Terms. Any other use is expressly prohibited. This license is revocable at any time without notice
and with or without cause. Unauthorized use of the Prime Mart Content may violate copyright, trademark, and applicable
communications regulations and statutes and is strictly prohibited. You must preserve all copyright, trademarks, service
marks, and other proprietary notices contained in the original Prime Mart Content on any copy you make of the Prime Mart
Content.

Prime Mart Marks. "Prime Mart" the Prime Mart logo and other Prime Mart brand logos and product and service names are or
may be trademarks of Prime Mart (the "Prime Mart Marks"). You are not granted a license with respect to any Prime Mart
Marks other than the limited license above. Without our prior written permission, and except as solely enabled by any
link as provided by us, you agree not to display or use in any manner the Prime Mart Marks. Your rights under this
license will terminate automatically without notice from Prime Mart if you fail to comply with these Terms. Upon
termination of the license, you shall cease all use of the Services, including any software and immediately destroy any
downloaded or printed materials.

INTELLECTUAL PROPERTY RIGHTS
You, or the people who allow you to use their content, own all of the content you post using the Services. However, we
may use it for any purpose, including in our marketing materials. We may also modify your content to make it work better
on the Services.

It is very important that you have permission to use other people's content, or they may be able to sue you for
violating their legal rights.

Prime Mart Claims No Ownership. The Services may provide you with the ability to create, post, or share content ("Your
User Content"). You or a third-party licensor, as appropriate, retain all intellectual property rights to Your User
Content. You are responsible for protecting those rights.

Prime Mart Use of Your User Content. By posting Your User Content on or through the Services, you grant Prime Mart a
world-wide, non-exclusive, perpetual, royalty-free license to use, modify, remove, publish, transmit, or display Your
User Content for any purpose, without compensation to you, including for the purposes of promoting Prime Mart and our
products and services and to sublicense its use off the Services.

You waive any rights you may have regarding Your User Content being altered or manipulated in any way that may be
objectionable to you. We reserve the right to refuse to accept, post, display, or transmit any of Your User Content in
our sole discretion. Prime Mart cannot control how third parties who may have received Your User Content may continue
their use of Your User Content.

COPYRIGHT POLICY
Tell us if you think a user has violated your copyright using the Services, or if you think someone incorrectly reported
that you violated his or her copyright. We respect the intellectual property rights of others. Materials may be posted
and made available on the Services by third parties not within our control. It is our policy not to permit materials
known by us to be infringing to remain on the Website and to terminate the accounts of third parties who repeatedly
infringe the copyrights of others. The Digital Millennium Copyright Act of 1998 (the "DMCA") provides recourse for
copyright owners who believe that material appearing on the Internet infringes their rights under Egypt’s copyright law.
If you believe in good faith that materials posted on the Services infringe your copyright, you (or your agent) may send
us a "Notification of Claimed Infringement" requesting that the material be removed, or access to it blocked. The notice
must include the following information:
1. A physical or electronic signature of a person authorized to act on behalf of the owner of the works that have been
allegedly infringed;
2. Identification of the copyrighted work alleged to have been infringed (or if multiple copyrighted works located on
the Services are covered by a single notification, a representative list of such works);
3. Identification of the specific material alleged to be infringing or the subject of infringing activity, and
information reasonably sufficient to allow us to locate the material on the Services;
4. Your name, address, telephone number, and email address (if available);
5. A statement that you have a good faith belief that use of the material in the manner complained of is not authorized
by the copyright owner, its agent, or the law; and
6. A statement that the information in the notification is accurate, and under penalty of perjury, that the complaining
party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.

If you believe in good faith that a notice of copyright infringement has been wrongly filed against you, the DMCA
permits you to send us a counter-notice. Consult your legal advisor before filing a notice or counter-notice as there
are penalties for false claims under the DMCA. Notices and counter-notices must meet the then-current statutory
requirements imposed by the DMCA; see http://www.loc.gov/copyright/ for details.

VIOLATING THESE TERMS
We reserve the right to refuse to provide the Services to you in the future. You are responsible for any claims, fees,
fines, penalties, and other liability incurred by us or others caused by or arising out of your breach of these Terms
and your use of the Services.

GENERAL TERMS
These Terms constitute the entire agreement between YOU and Prime Mart concerning your use of the Services. Our failure
to exercise or enforce any right or provision of these Terms shall not constitute a waiver of such right or provision.
If any provision of these Terms is found by a court of competent jurisdiction to be invalid, the parties nevertheless
agree that the court should endeavor to give effect to the parties' intentions as reflected in the provision, and the
other provisions of these Terms remain in full force and effect. These Terms, and any rights and licenses granted
hereunder, may not be transferred, or assigned by you, but may be assigned by Prime Mart without restriction. Any
assignment attempted to be made by you in violation of these Terms shall be void. You agree that no joint venture,
partnership, employment, or agency relationship exists between you and Prime Mart because of these Terms or use of the
Prime Mart Service. Upon termination of these Terms, any provision which, by its nature or express terms should survive,
will survive such termination. The section titles and annotations in these Terms are for convenience only and have no
legal or contractual effect.
