<section id="about" class="hide-on-tablet">
  <div class="container about">
    <div class="about-bg">
      <img src="../../../assets/images/store.jpg" alt="">
    </div>
    <div [ngStyle]="{'left': lang === 'ar' ? '64px' : '-64px'}" class="card">
      <div class="story">
        <hr><span>The story</span>
      </div>
      <h2>One Stop For All. </h2>
      <p>
        The one location to find your every need, your every want, or desire from groceries, to electronics, to freshly
        baked breads to accessories. The foundation of togetherness in a premium unique environment. This is PRIME MART,
        born in 2021 to create the next level of shopping experience.
      </p>
    </div>
  </div>
</section>

<section id="about__m" class="tablet-only">
  <div class="container about">
    <div class="about-bg">
      <img src="../../../assets/images/store.jpg" alt="">
    </div>
    <div class="card">
      <div class="story">
        <hr><span>The story</span>
      </div>
      <h2>One Stop For All. </h2>
      <p>
        The one location to find your every need, your every want, or desire from groceries, to electronics, to freshly
        baked breads to accessories. The foundation of togetherness in a premium unique environment. This is PRIME MART,
        born in 2021 to create the next level of shopping experience.
      </p>
    </div>
  </div>
</section>
