<section id="variety__products">
  <div class="vp__swiper">
    <div class="header container">
      <div class="story">
        <hr><span>Find what you’re looking for</span>
      </div>
      <h2>Shop from the widest range of products.</h2>
    </div>

    <swiper [loop]="true" [centeredSlides]="true" [spaceBetween]="20" [grabCursor]="true" class="mySwiper"
      [breakpoints]="{
      '0': {
        slidesPerView: 1,
        spaceBetween: 20
      },
      '320': {
        slidesPerView: 1.1,
        spaceBetween: 20
      },
      '350': {
        slidesPerView: 1.2,
        spaceBetween: 20
      },
      '380': {
        slidesPerView: 1.3,
        spaceBetween: 20
      },
      '425': {
        slidesPerView: 1.4,
        spaceBetween: 20
      },
      '500': {
        slidesPerView: 1.7,
        spaceBetween: 32
      },
      '600': {
        slidesPerView: 2,
        spaceBetween: 50
      },
      '700': {
        slidesPerView: 2.3,
        spaceBetween: 50
      },
      '800': {
        slidesPerView: 2.6,
        spaceBetween: 50
      },
      '900': {
        slidesPerView: 2.9,
        spaceBetween: 50
      },
      '1024': {
        slidesPerView: 3.3,
        spaceBetween: 50
      },
      '1200': {
        slidesPerView: 3.6,
        spaceBetween: 50
      },
      '1400': {
        slidesPerView: 4,
        spaceBetween: 50
      },
      '1500': {
        slidesPerView: 5,
        spaceBetween: 50
      },
      '1640': {
        slidesPerView: 5.4,
        spaceBetween: 50
      }
    }">
      <ng-template swiperSlide>
        <div class="card card_1"></div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="card card_2"></div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="card card_3"></div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="card card_4"></div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="card card_5"></div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="card card_6"></div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="card card_7"></div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="card card_8"></div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="card card_9"></div>
      </ng-template>
    </swiper>

  </div>
</section>
