@import 'theme/mixins';
@import "~swiper/swiper";
@import "~swiper/components/pagination/pagination";

#variety__products {
  overflow: hidden;
  box-sizing: border-box;
  height: 526px;
  background: #F8F8F8;

  .container {
    .story {
      display: flex;
      align-items: center;
      margin-top: 64px;

      hr {
        border: none;
        border-bottom: 0.5px solid #595959;
        width: 32px;
        margin: 0;
      }

      span {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;

        letter-spacing: -0.426667px;
        margin: 0 8px;
        color: #595959;
      }
    }

    h2 {
      margin-bottom: 32px !important;
      font-weight: bold;
      font-size: 20px;
      line-height: 27px;
      letter-spacing: -0.533333px;
      color: #595959;
    }
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card {
    height: 309px;
    width: 309px;
    border-radius: 8px;
    background-size: cover;
  }

  .card_1 {
    background-image: url(../../../assets/images/vp/1.jpg);
  }

  .card_2 {
    background-image: url(../../../assets/images/vp/2.jpg);
  }

  .card_3 {
    background-image: url(../../../assets/images/vp/3.jpg);
  }

  .card_4 {
    background-image: url(../../../assets/images/vp/4.jpg);
  }

  .card_5 {
    background-image: url(../../../assets/images/vp/5.jpg);
  }

  .card_6 {
    background-image: url(../../../assets/images/vp/6.jpg);
  }

  .card_7 {
    background-image: url(../../../assets/images/vp/7.jpg);
  }

  .card_8 {
    background-image: url(../../../assets/images/vp/8.jpg);
  }

  .card_9 {
    background-image: url(../../../assets/images/vp/9.jpg);
  }

  .card_10 {
    background-image: url(../../../assets/images/vp/10.jpg);
  }

  .card_11 {
    background-image: url(../../../assets/images/vp/11.jpg);
  }

  .card_12 {
    background-image: url(../../../assets/images/vp/12.jpg);
  }
}
